<%# <div class="card">
  <% if manga.photo.attached? %>
    <%# <%= cl_image_tag(manga.photo.key) %>
  <%# <% end %>
      <%# <div class="card-body">
        <h4 class="card-title"><%= manga.title</h4>
        <h5 class="card-subtitle mb-2 text-muted"><%= manga.author€</h5>
      </div>
</div>
